@import "./common.scss";

.navbar {
  .navbar-container {
    margin: 0 60px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      animation: showTextDownToUp 0.5s;
      animation-fill-mode: none;
      .logo-link {
        text-decoration: none;
        .logo-text {
          color: $point-color;
          font-family: "Poppins", sans-serif;
          font-size: 48px;
        }
      }
    }
    .menu-list {
      display: flex;
      gap: 24px;

      opacity: 0;
      animation: showTextDownToUp 0.5s;
      animation-fill-mode: forwards;

      @include medium() {
        display: none;
      }
      .menu {
        .menu-link {
          color: black;

          font-size: 24px;
          text-decoration: none;
          font-family: "Shadows Into Light", cursive;
        }
      }
      &.mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;

        display: grid;
        align-content: center;
        justify-content: center;

        animation: showUp 2s;
        animation-fill-mode: forwards;
        .menu {
          margin-top: 48px;
          text-align: center;
          .menu-link {
            font-size: 80px;
          }
        }
      }
    }
    .menu-toggle {
      font-size: 24px;

      display: block;
      animation: showTextDownToUp 0.5s;
      animation-fill-mode: none;

      cursor: pointer;
    }
  }
}
